@font-face {
    font-family: "MalibuBarbie";
    src: url("/TottallyMalibu.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e94499;
}

h1 {
  font-family: "MalibuBarbie", "Poppins", sans-serif;
  padding-left: 35px;
  padding-top: 25px;
  font-size: 55px;
  font-weight: 500;
  text-shadow: 5px 5px #ff6eb6;
}

a#logo {
  color: #fff;
}

.icone {
  width: 223px;
  height: 223px;
  float: right;
}

.cabecalho {
  text-shadow: #f1005d 1px 1px 1px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0;
}

.cabecalho h1 {
  margin-left: 0px;
  text-align: justify;
}

.cabecalho h1 a {
  color: #fff;
  text-decoration: none;
}


.c1 {
    display: flex;
    margin: auto 0px;
    padding: 0px 0;
    list-style: none;
  }
  
  .c1 li a:hover {
    color: #fdcce0;
    text-shadow: #7c003e 3px 3px 0px;
  }
  
  .c2 {
    font-family: "MalibuBarbie", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
  }
  
  .c2 a {
    text-decoration: none;
    color: #f6e7ecfe;
    padding: 0 15px;
  }
  
  .projeto {
    display: flex;
  }



hr {
    border: none;
    height: 1px;
    background-color: rgb(116, 5, 70);
    margin-top: 20px;
    margin-bottom: 20px;
}

.projeto {
    color: rgb(0, 0, 0);
    display: block;

    padding: 0px;
    margin: 10px;
}


.projeto-imagem {
    width: 200px;
   margin-top: 0px;
    float: right;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
   
    

}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    align-content: center;
}

.dados {
    text-align: center;
    margin-right: 175px;
}

.projeto1 {
    margin: 15px;
}



.projeto1-titulo {
    margin-left: 0;
    left: 59px;
    top: 276px;
    font-family: "MalibuBarbie", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    line-height: 65px;
    text-shadow: #ff3a99 5px 3px 0px;
    color: #ffffff;
}


.projeto2-titulo a {
    text-decoration: none;
    color: black;



}

.projeto2-titulo a:hover {
    color: #eeadde;
    text-shadow: #bb007d 3px 3px 0px;
}


.projeto2-titulo {
    margin-left: 0;
    list-style: none;
    flex-wrap: wrap;
    left: 59px;
    top: 270px;
    font-family: "MalibuBarbie", sans-serif;
    font-style: normal;
    font-weight: 50;
    font-size: 30px;
    line-height: 54px;
    color: #000000;
   
}



.iframedocs {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iframedocs iframe {
    width: 850px;
    height: 2407px;
    border: none;
    max-width: 100%;
}

.iframedocss {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iframedocss iframe {
    width: 850px;
    height: 7100px;
    border: none;
    max-width: 100%;
}

.iframeslides {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iframeslides iframe {
    width: 50%;
    /* Ajuste a largura conforme necessário */
    height: 400px;
    /* Ajuste a altura conforme necessário */
    border: none;
    max-width: 100%;
}

.tagss {
    align-items: center;
}

.forms {
  color: rgb(0, 0, 0);
  display: block;
  padding: 0px;
  margin: 15px;
}

.forms-titulo {
  margin-left: 0;
  left: 59px;
  top: 276px;
  font-family: "MalibuBarbie", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
  line-height: 65px;
  text-shadow: #ff3a99 5px 3px 0px;
  color: #ffffff;
}



.forms-div {
  margin-top: 20px;
  display: block;
}

.forms label {
  display: block;
  margin-bottom: 5px;
}

.forms input[type="text"],
.forms input[type="email"],
.forms textarea {
  width: 25%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #7c003e;
  border-radius: 4px;
}

.forms textarea {
  height: 150px;
}

.forms input[type="submit"] {
  background-color: #e076ad;
  color: #030001;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forms input[type="submit"]:hover {
  background-color: #ff3a99;
}

.rodape {
    background-color: #e94499;
    ;
    text-align: center;
}

.rodape-imagem {
    height: 60px;
    padding: 12px 12px;
    margin: 12px;

}

.rodape a:hover {
    text-decoration: none;
    color: #5c3b5c;
}

.rodape a {
    text-decoration: none;
    color: #000000;
    background-color: #e94499;
}
@media screen and (max-width: 1321px) {
    .icone{
      display: none;
    }
    .c1 {
      flex-wrap: wrap;
    }
    
  }
  

  
  
  @media screen and (max-width: 600px) { 
    .equipe-toda {
      display: grid;
      grid-template-columns: 100% ;
    }
    .cabecalho {
      flex-wrap: wrap;
    }
  }

  .teclado {background-color: #7c003e; display: grid; gap: 10px; grid-template-columns: repeat(3,1fr); padding: 10px;}

.tecla {color:#e076ad; background-color: #7c003e;}

.tecla.ativa,
.tecla:active{background-color: #6e2b4c;
color: #e076ad; outline: none;
}

.tecla.focus,
.tecla:focus {outline: none; box-shadow: 1px 1px 10px #7c003e;}

.tecla.active:focus,
.tecla.active:focus{box-shadow: 3px 3px 0 #7c003e;}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #AB61E4;
  min-height: 100vh;
  overflow: hidden;
  
  color: #fff;
}

.calculator {
  --header-bg:                    rgba(255,255,255,.2);
  --body-bg:                      rgba(255,255,255,.3);
  --button-bg:                    rgba(255,255,255,.2);
  --button-bg-hover:              rgba(255,255,255,.3);
  --button-highlight-bg:          rgba(255,255,255,.5);
  --button-highlight-bg-hover:    rgba(255,255,255,.3);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

  position: relative;
  width: 280px;
  box-shadow: rgb(24 32 79 / 25%) 0px 40px 80px, rgb(255 255 255 / 50%) 0px 0px 0px 0.5px inset;
  border-radius: 15px;
  z-index: 10;
  
  &:hover {
    margin-bottom: 5px;
    ~ .calculator-back {
      transform: skewY(18deg);
      width: 35%;
    }
  }
  
  &.dark {
    --header-bg:                    rgba(2,14,39,.2);
    --body-bg:                      rgba(2,14,39,.3);
    --button-bg:                    rgba(2,14,39,.2);
    --button-bg-hover:              rgba(255,255,255,.1);
    --button-highlight-bg:          rgba(2,14,39,.5);
    --button-highlight-bg-hover:    rgba(255,255,255,.15);
  }
  &-header {
    position: relative;
    background-color: var(--header-bg);
    padding: 30px 30px 15px 30px;
    text-align: right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    backdrop-filter: blur(40px);
    box-shadow: inset 0px 2px 1px rgba(#fff, .1)
  }
  &-body {
    position: relative;
    background-color: var(--body-bg);
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(20px);
    min-height: 250px;
  }
  
  &-operation {
    font-size: 18px;
    margin-bottom: 4px;
    &-result {
      font-size: 42px;
      font-weight: bold;
    }
  }
  
  &-button {
    position: relative;
    display: block;
    height: 100%;
    border: 1px solid transparent;
    background-color: var(--button-bg);
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(#fff, 0);
    user-select: none;
    backdrop-filter: blur(6px);
    transition: all .2s ease-in-out;
    will-change: auto;
    z-index: 2;
    &:hover, &:focus {
      box-shadow: 0px 10px 25px rgba(4, 37, 100, 0.12);
      border-radius: 4px;
      background-color: var(--button-bg-hover);
      border-color: rgba(#fff, .15);;
      z-index: 5;
      transform: scale(1.35);
    }
    &:focus {
      outline: none;
    }
    
    &.equal {
      grid-row-start: span 2;
      grid-column-start: 4;
    }
    &.highlight {
      background-color: var(--button-highlight-bg);
      &:hover, &:focus {
        background-color: var(--button-highlight-bg-hover);
      }
    }
    &-wrapper {
      position: absolute;
      top: calc(117px + 15px);
      right: 15px;
      bottom: 15px;
      left: 15px;
      display: grid;
      grid-gap: 2px;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(5, 45px);
    }
  }
  &-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 85%;
    background-image: linear-gradient(rgb(189, 29, 140) 0%, rgb(122, 65, 206) 100%);
    border-radius: 15px;
    transform: skewY(8deg);
    transform-origin: left top;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    z-index: 5;
  }
  
  &-wrapper {
    position: relative;
  }
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: calc(62px + 1vw);
  font-weight: 900;
  color: rgba(31, 62, 90, 1);
  letter-spacing: -.065em;
  user-select: none;
  &:nth-child(2) {
    mix-blend-mode: screen;
    opacity: .75;
  }
  
  &-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    transform: rotate(-90deg) translate(-80px, -65px);
    
    // mix blend mode not working with backdrop-filter in the same viewport (chrome)
    mix-blend-mode: difference;
    // add "backdrop-filter" to fix:
    backdrop-filter: opacity(1);
    
    z-index: 10;
  }
}

.bg-item {
  position: absolute;
}

.toggle-theme {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  padding: 8px 12px;
  background-color: var(--button-bg);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  will-change: auto;
  backdrop-filter: blur(4px);
  transition: all .1s ease-in-out;
  z-index: 5;
  &:hover, &:focus {
    box-shadow: 0px 10px 25px rgba(4, 37, 100, 0.12);
    border: 1px solid rgba(#fff, .2);
    background-color: var(--button-bg-hover);
    border-color: rgba(#fff, .08);
    transform: scale(1.25);
  }
}

#bg-1 {filter: blur(10px)}
#bg-2 {filter: blur(36px)}
#bg-4 {filter: blur(50px)}
#bg-6 {filter: blur(40px)}
#bg-7 {filter: blur(30px)}
#bg-9 {filter: blur(20px)}